.env
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# Ignore Flutter build output. The Flutter Web release served by Vercel is
# committed separately in web_build/.
build/
.idea/
*.iml
.vscode/
android/local.properties
ios/Flutter/Generated.xcconfig
